.vs/ClothingShopBase/v17/.suo
.vs/ClothingShopBase/v17/DocumentLayout.backup.json
.vs/ClothingShopBase/v17/DocumentLayout.json
.vs/ClothingShopBase/FileContentIndex/c3763742-28e7-4933-a986-b92bd9f45f53.vsidx
.vs/
